body{
    background-color: grey;
}
h1{
    color: darkgrey;
}
.container{
    margin: auto;
    width: 250px;;

}
.header{
    margin-bottom: 20px;
    text-align: center;
}
#buttonsArea{
    margin: auto;
    margin-bottom: 20px;
}
#search-from{
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
}
#searches{
    margin: 0 auto;
    display: inline;
}
button,
#addSearch{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
}
#search-input{
    position: relative;
    left: 15px;
    margin-bottom: 10px;
}
#addSearch{
    position: relative;
    left: 60px;
}
.search-item {
    float: left;
}